

<div class="container text-center footer">
  <div class="row row-cols-4 row3">
    <div class="card">
      <h6 > About us </h6>
      <ul style="list-style: none;">
        <li class="text-left">
          <a class="" href=""> More info</a>
        </li>
        <li class="text-left">
          <a class="" href=""> Contact with us</a>
        </li>
        <li class="text-left">
          <a class="" routerLink="/specialists"> Our doctors</a>
        </li>
      </ul>
    </div>
    <div class="card">
      <h6 > Social networks </h6>
      <ul style="list-style: none;">
        <li class="text-left">
          <a class="" href=""> <i class="fab fa-facebook"> Facebook</i></a>
        </li>
        <li class="text-left">
          <a class="" href="https://twitter.com/home"><i class="fab fa-twitter"> Twitter</i></a>
        </li>
        <li class="text-left">
          <a class="" href="https://www.instagram.com"> <i class="fab fa-instagram"> Instagram</i></a>
        </li>
      </ul>
    </div>
    <div class="card">
      <h6 > Cancer information</h6>
      <ul style="list-style: none;">
        <li class="text-left"><a class="" href="">Cancer prevention</a></li>
      </ul>
    </div>
    <div class="card">
      <h6 > Program and services </h6>
      <ul style="list-style: none;">
        <li class="text-left"><a class="" routerLink="/registerSpecialist">Are you a doctor?</a></li>
        <li class="text-left"><a class="" href="">Work with us</a></li>
      </ul>
  </div>
</div>
