

<nav class="navbar navbar-light">
  <a class="navbar-brand">HelpCancer <i class="fas fa-ribbon"></i> </a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" *ngIf="_data.show">
    <button class="btn btn-primary my-2 my-sm-0" type="submit" *ngIf="_data.show">Search</button>
    <div class="btn-group">
    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"  *ngIf="!_data.show">
      <span> Sign in </span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item btn btn" routerLink="/login/user"><button class="btn btn-sm btn-secondary" type="button"><i class="fas fa-user"></i></button></a>
      <a class="dropdown-item" routerLink="/login/specialist"><button class="btn btn-sm btn-info" type="button"><i class="fas fa-user-md"></i></button></a>
    </div>
  </div>
  </form>
</nav>


