<app-navbar></app-navbar>
<div class="container">
  <div class="card-principal">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="width: 18rem;">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-info"><i class="fas fa-users"></i> {{group['nameGroup']}} </h5>
            <p class="card-text text-info"> </p>
            <p class="card-text text-info"><i class="fas fa-location-arrow"></i> {{group['location']}} </p>
          </div>

          <div class="card-body">
            <button type="button" class="btn btn-outline-info btn-sm">Conect</button>
          </div>
        </div>
      </div>
    </div>
  </div>

