
<app-navbar></app-navbar>

<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6" *ngFor="let group of _data.groupList; let i = index;">

              <div class="d-flex flex-row border rounded">
                <div class="p-0 w-25">
                  <img src="{{group['avatar']}}" class="img-thumbnail border-0">
                </div>

                <div class="pl-3 pt-2 pr-2 pb-2 w-50 border-left">
                  <h4 class="text-primary">{{group['nameGroup']}}</h4>
                  <h5 class="text-info">{{group['speciality']}}</h5>
                  <ul class="m-0" style="list-style: none; margin:0; padding: 0">
                    <li><i class="fab fa fa-map"></i> {{group['location']}}</li>
                    <li><i class="fab fa fa-stethoscope"></i> {{group['hospital']}}</li>
                  </ul>
                  <p class="text-right m-0"><a (click)="viewGroup(i)" class="btn btn-primary"><i class="far fa-user"></i> View Profile</a></p>
                </div>
              </div>

        </div>
      </div>
      </div>
    </div>
  </div>
</div>


